body {

}
.main_wrapper{
    margin-top: 2%;
}


.uk-search-default{
    width: 300px;
}

.tile{
    background-color: #DDDDDD;
}

.pantry-option{
    background-color: #48484c;
}

.hcenter{
    margin-left: 50%;
}

.user-dialog{
    color: #9d9d9d;
}

.ava-board{
    height: 350px;
}

.uk-logo{
    color: #DDDDDD;
    font-family: "Century Gothic" ;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.ava-dialog{
    height: 120px;
}

