{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ava</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel="stylesheet" href="{% static 'css/style.css'%} ">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typeit@4.4.1/dist/typeit.min.js"></script>
  <script src={% static 'js/index.js' %}></script>

</head>

<body>
{#  <div class="logo-container">#}
{#  <img src="{% static 'images/ava_logo.png' %}"/>#}
{#  </div>#}

{#{{ context }}#}
  <div class="ava-container">
  <h2 class="ava-dialogue"><span class="type-it"></span></h2>
  </div>

  <div class="user-container">
  <h2 class="user-dialogue"><span class="display"></span></h2>
  </div>

  <fieldset class="field-container">
      <form id="searchform" action="/">
          {% csrf_token %}
      <input type="text" placeholder="What's up?" class="field" name="query" />
      </form>
  </fieldset>

</body>
</html>
