{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ava</title>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href={% static 'css/style.css'%}>

   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeit@4.4.1/dist/typeit.min.js"></script>
   <script src={% static 'js/index.js' %}></script>
</head>
<body>

<form id="pantry">
    {% csrf_token %}
<div id='cssmenu'>
<ul>

   <li class='has-sub'><a href='#'>Pantry</a>
      <ul>
         <li class='has-sub'><a href='#'>Vegetables</a>
            <ul>

                <li><label><input type="checkbox" name="vegetable" value="onion" id="onion" />Onion</label></li>
                <li><label><input type="checkbox" name="vegetable" value="tomato" id="tomato"  />Tomato</label></li>
                <li><label><input type="checkbox" name="vegetable" value="potato" id="potato" />Potato</label></li>
                <li><label><input type="checkbox" name="vegetable" value="cauliflower" id="cauliflower"/>Cauliflower</label></li>

            </ul>
         </li>
         <li class='has-sub'><a href='#'>Fruits</a>
            <ul>
                <li><label><input type="checkbox" value="apples" id="apples" />Apples</label></li>
                <li><label><input type="checkbox" value="grapes" id = "grapes"/>Grapes</label></li>
                <li><label><input type="checkbox" value="mango" id="mango" />Mango</label></li>
                <li><label><input type="checkbox" value="strawberry" id="strawberry" />Strawberry</label></li>
            </ul>
         </li>
          <li class='has-sub'><a href='#'>Meat</a>
            <ul>
                <li><label><input type="checkbox"value="ham" id="ham" />Ham</label></li>
                <li><label><input type="checkbox" value="rosted chicken" id="rosted chicken" />Rosted Chicken</label></li>
                <li><label><input type="checkbox" value="whole chicken" id="whole chicken" />Whole Chicken</label></li>
                <li><label><input type="checkbox" value="chicken wings" id="chicken wings" />Chicken Wings</label></li>
            </ul>
         </li>
          <li class='has-sub'><a href='#'>Deserts</a>
            <ul>
                <li><label><input type="checkbox"value="marshmallow" id="marshmallow"/>Marshmallow</label></li>
                <li><label><input type="checkbox" value="nutella" id="nutella" />Nutella</label></li>
                <li><label><input type="checkbox" value="apple sauce" id="apple sauce" />Apple sauce</label></li>
                <li><label><input type="checkbox" value="chocolate" id="chocolate" />Chocolate</label></li>
            </ul>
         </li>
      </ul>

   </li>

</ul>
</div>
    <button  class="button"  name="savePantry" id = 'btntest'>Save my pantry</button>
</form>
<!-- <button class="button" type="submit" name="savepantry" id = 'btntest' form="pantry" />Save my pantry</button> -->


         <div class="ava-container">

  <h2 class="ava-dialogue"><span class="type-it"></span></h2>
  </div>

  <div class="user-container">
  <h2 class="user-dialogue"><span class="display"></span></h2>
  </div>

  <fieldset class="field-container">
      <form id="searchform" action="/">
          {% csrf_token %}
      <input type="text" placeholder="What's up?" class="field" name="query" autocomplete="off"/>
      </form>
  </fieldset>




</body>
<html>