{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ava</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css'%}"/>



        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typeit@4.4.1/dist/typeit.min.js"></script>
        <script>
             var default_user_image = "https://d30y9cdsu7xlg0.cloudfront.net/png/212110-200.png";
        </script>
        <script src={% static 'js/uk.js' %}></script>
        <script src={% static 'js/slider.js' %}></script>
        <script src={% static 'js/dashboard.js' %}></script>
        <script src={% static 'js/utils.js' %}></script>
        <script src={% static 'js/snippets.js' %}></script>
        <script src={% static 'js/search-query.js' %}></script>
        <script src={% static 'js/custom.js' %}></script>
    </head>
    <body>

{#    <button class="uk-position-top-left uk-margin-auto-top uk-button uk-button-default uk-margin-small-left" type="button" uk-toggle="target: #offcanvas-primary-nav">#}
{#        Menu#}
{#    </button>#}
{##}
{#    <button class="uk-position-top-right uk-margin-auto-top uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-push">#}
{#        Pantry#}
{#    </button>#}
    <nav class="uk-navbar uk-margin-top" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-primary-nav">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
{#        <a class="uk-navbar-item uk-logo" href="#">AVA</a>#}
    </div>
{#    <div class="uk-navbar-center">#}
{#        <a class="uk-navbar-item uk-logo" href="#">AVA</a>#}
{#    </div>#}
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">

            <li>
                    <a class="uk-navbar-toggle" id="search" >
                        <span>Search</span>

                    </a>
            </li>

            <li>
                    <a class="uk-navbar-toggle" id="pantry" uk-toggle="target: #offcanvas-pantry"  >
                        <span>Pantry</span>
                    </a>
            </li>

            <li id="nav-user">

            </li>
        </ul>
    </div>
</nav>

{#    main wrapper start - top margin - 10% #}
    <div class="main_wrapper">

        {#  AVA dialog    #}
        <div class="uk-card uk-text-center uk-card-header uk-card-body uk-width-auto\@m ava-dialog">
            <h3 class="uk-card-title"><span id="ava_response"></span></h3>
        </div>


        <div class="uk-card  uk-card-body ava-board" id="ava_board">
            <div class="uk-position-center" id="spinner" uk-spinner></div>

         </div>

        {#  user dialog    #}

        <div class="uk-card uk-text-center uk-card-header uk-card-body uk-width-auto\@m">
            <h3 class="uk-card-title user-dialog" id="user-query"></h3>
        </div>

    </div>

    <div class="uk-offcanvas-content">
        <div id="offcanvas-primary-nav" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">User</li>
                    <li><a href="#" id="btn-login"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Login</a></li>
                    <li><a href="#" id="btn-signup"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Register</a></li>
                    <li><a href="#" id="btn-bookmarks"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Bookmarks</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-offcanvas-content">
        <div id="offcanvas-pantry" uk-offcanvas="mode: reveal; overlay: true; flip: true">
            <div class="uk-offcanvas-bar">
<form>
                <h3>Pantry</h3>

                <ul uk-accordion>
                    <li>
                        <h3 class="uk-accordion-title">Vegtables</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">


                                <div class="uk-width-auto" >
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default " data-color="success" name="vegetables" value="garlic" id="garlic"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Garlic
                                <input type="checkbox" value="garlic" class="hidden" >
                                    </button>
                                </span>
                                </div>


                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default " data-color="success"name="vegetables" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" value="onion" class="hidden">
                                </span>
                                </div>


                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="tomato" id="tomato"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Tomato </button>
                                <input type="checkbox" value="tomato"  class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="potato" id="potato"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Potato </button>
                                <input type="checkbox" value="potato"  class="hidden" >
                                </span>
                                </div>





                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="cabbage" id="cabbage"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Cabbage </button>
                                <input type="checkbox" value="cabbage" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="cucumber" id="cucumber"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Cucumber</button>
                                <input type="checkbox" value="cucumber" class="hidden" >
                                </span>
                                </div>




                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="spinach" id="spinach"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Spinach</button>
                                <input type="checkbox"  value="spinach"  class="hidden">
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="green beans" id="green beans"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Green beans</button>
                                <input type="checkbox" value="green_beans" class="hidden" >
                                </span>
                                </div>



                                    <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="cauliflower" id="cauliflower"><i class="state-icon glyphicon glyphicon-unchecked"></i> Cauliflower</button>
                                <input type="checkbox" value="cauliflower" class="hidden" >
                                </span>
                                </div>

                                    <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="green beans" id="peas"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Peas</button>
                                <input type="checkbox" value="peas" class="hidden" >
                                </span>
                                </div>

                                  <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="corn" id="corn"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Corn</button>
                                <input type="checkbox" value="corn" class="hidden" >
                                </span>
                                </div>


                            </div>
                        </div>
                    </li>

                    <li class="open">
                        <h3 class="uk-accordion-title">Spices</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">



                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="red_pepper_flake" id="red_pepper_flake"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Red pepper flake</button>
                                <input type="checkbox" value="red_pepper_flake" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="italian_spice" id="italian_spice"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Italian spice</button>
                                <input type="checkbox" value="italian_spice" class="hidden" >
                                </span>
                                </div>



                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="turmeric_powder" id="turmeric_powder"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Turmeric powder</button>
                                <input type="checkbox" value="turmeric_powder" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="Red chili powder" id="red_chili_powder"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Red chili powder</button>
                                <input type="checkbox" value="red_chili_powder" class="hidden" >
                                </span>
                                </div>





                               <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="garlic_powder" id="garlic_powder"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Garlic powder</button>
                                <input type="checkbox" value="garlic_powder" class="hidden" >
                                </span>
                                </div>

                               <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="garam_masala" id="garam_masala"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Garam masala</button>
                                <input type="checkbox" value="garam_masala" class="hidden" >
                                </span>
                                </div>



                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="coriander" id="coriander"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Coriander</button>
                                <input type="checkbox" value="coriander" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="red_birdseye_chilli" id="red_birdseye_chilli"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Red birdseye chilli</button>
                                <input type="checkbox" value="red_birdseye_chilli" class="hidden" >
                                </span>
                                </div>






                            </div>
                        </div>
                    </li>

                    <li class="open">
                        <h3 class="uk-accordion-title">Meat</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">




                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="chicken_breast" id="chicken_breast"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; chicken breast</button>
                                <input type="checkbox" value="chicken_breast" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="whole_chicken" id="whole_chicken"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Whole chicken</button>
                                <input type="checkbox" value="whole_chicken" class="hidden" >
                                </span>
                                </div>





                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="red_birdseye_chilli" id="red_birdseye_chilli"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Red birdseye chilli</button>
                                <input type="checkbox" value="red_birdseye_chilli" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="ham" id="ham"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Ham</button>
                                <input type="checkbox" value="ham" class="hidden" >
                                </span>
                                </div>





                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="red birdseye chilli" id="red birdseye chilli"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Red birdseye chilli</button>
                                <input type="checkbox" value="red birdseye chilli" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="sausage" id="sausage"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Sausage</button>
                                <input type="checkbox" value="sausage" class="hidden" >
                                </span>
                                </div>


                            </div>
                        </div>
                    </li>

                    </li>

                    <li class="open">
                        <h3 class="uk-accordion-title">Fruits</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">




                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="banana" id="banana"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Banana</button>
                                <input type="checkbox" value="banana" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="apple" id="apple"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Apple</button>
                                <input type="checkbox" value="apple" class="hidden" >
                                </span>
                                </div>





                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="strawberries" id="strawberries"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Strawberries</button>
                                <input type="checkbox" value="strawberries" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="pear" id="pear"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Pear</button>
                                <input type="checkbox" value="pear" class="hidden" >
                                </span>
                                </div>





                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="lime" id="lime"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Lime</button>
                                <input type="checkbox" value="lime" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="mango" id="mango"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Mango</button>
                                <input type="checkbox" value="mango" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="orange" id="orange"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Orange</button>
                                <input type="checkbox" value="orange" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="pineapple" id="pineapple"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Pineapple</button>
                                <input type="checkbox" value="pineapple" class="hidden" >
                                </span>
                                </div>


                            </div>
                        </div>
                    </li>

                    <li class="open">
                        <h3 class="uk-accordion-title">Sauces</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">




                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="tomato_sauce" id="tomato_sauce"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Tomato sauce</button>
                                <input type="checkbox" value="tomato_sauce" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="pesto" id="pesto"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Pesto</button>
                                <input type="checkbox" value="pesto" class="hidden" >
                                </span>
                                </div>





                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="chicken_gravy" id="chicken_gravy"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Chicken_gravy</button>
                                <input type="checkbox" value="chicken_gravy" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-auto">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default pantry_item" data-color="success"name="vegetable" value="alfredo_sauce" id="alfredo_sauce"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Alfredo_sauce</button>
                                <input type="checkbox" value="alfredo_sauce" class="hidden" >
                                </span>
                                </div>



                            </div>
                        </div>
                    </li>
<!-- custom ingredients at run time -->
                    <li class="open " id="custom_ingredients">
                        <h3 class="uk-accordion-title">Misc</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="insert_ingredients">




                            </div>
                        </div>




                </ul>



                <div class="uk-grid">

 <!--               <div class="uk-width-auto">
                <button type="button" class="btn btn-info" data-color="info">SUBMIT</button>
                </div>

                <div class="uk-width-auto">
                <button type="button" class="btn btn-info" data-color="info">ADD</button>
                </div>
                -->

                <div class="uk-width-1-2">
                <div class="uk-inline">
                <button  class="uk-button uk-button-default " uk-toggle="target: #offcanvas-pantry"
                 name="savePantry" id = 'btntest'>Submit</button>

                </div>
            </div>
                   <div class="uk-width-1-2">
                <div class="uk-inline">
                    <p uk-margin>
                <!--<button class="uk-button uk-button-default" name="addIngredient" id="temp">Add</button> -->
                <button id="btn_add_ingredient" class="uk-button uk-button-default"  name="addIngredient" >Add</button>
                    </p>
                </div>
            </div>
                </div>

    <script>




       UIkit.util.on('#btn_add_ingredient', 'click', function (e) {

           e.preventDefault();
           e.target.blur();
           UIkit.modal.prompt('Add your custom ingredient:', '').then(function (name) {

               if (name == '' || name== null)
               {
                  console.log('Empty box')
                   console.log('Empty ingredient')

               }
               else
               {
                   console.log('Prompted:', name);
                   var extend = document.getElementById('insert_ingredients');
                   console.log(extend.childElementCount);
                   console.log(extend.childElementCount%2);


                       $('#insert_ingredients').append('<div class="uk-width-auto">\n' +
                           '                                <span class="button-checkbox" >\n' +
                           '                                <button type="button" class="btn btn-default pantry_item" data-color="success" name="misc" value=' + name +' id=' + name +'><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; ' + name +'</button>\n' +
                           '                                <input type="checkbox" value=' + name +' class = "hidden" >\n' +
                           '                                </span>\n' +
                           '                                </div>')




               }

           });
       });


    </script>




{#    <fieldset>#}
{##}
{##}
{#         <div class="uk-margin" id="parent" name="addItems">#}
{#            <input class="uk-input" type="text" placeholder="Input">#}
{#        </div>#}
{#        </fieldset>#}
    </form>
            </div>
        </div>
    </div>
    </body>
</html>