{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ava</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css'%}"/>


        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/typeit@4.4.1/dist/typeit.min.js"></script>
        <script src={% static 'slick/slick.min.js' %}></script>
        <script src={% static 'js/snippets.js' %}></script>
        <script src={% static 'js/search-query.js' %}></script>
        <script src={% static 'js/dashboard.js' %}></script>
        <script src={% static 'js/custom.js' %}></script>
    </head>
    <body>

{#    <button class="uk-position-top-left uk-margin-auto-top uk-button uk-button-default uk-margin-small-left" type="button" uk-toggle="target: #offcanvas-primary-nav">#}
{#        Menu#}
{#    </button>#}
{##}
{#    <button class="uk-position-top-right uk-margin-auto-top uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #offcanvas-push">#}
{#        Pantry#}
{#    </button>#}
    <nav class="uk-navbar uk-margin-top" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-primary-nav">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
    </div>
    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo" href="#">AVA</a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">

            <li>
                    <a class="uk-navbar-toggle" uk-toggle="target: #offcanvas-pantry"  >
                        <span class="uk-margin-small-left" id="pantry">Pantry</span>
                    </a>
            </li>

            <li>
                <a href="#"><img src="{% static 'images/user1.jpg'%}" class="uk-border-circle uk-responsive-width uk-responsive-height" alt="Cinque Terre"></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
            </li>
        </ul>
    </div>
</nav>

{#    main wrapper start - top margin - 10% #}
    <div class="main_wrapper">

        {#  AVA dialog    #}
        <div class="uk-card uk-text-center uk-card-header uk-card-body uk-width-1-2\@m ava-dialog">
            <h3 class="uk-card-title"><span id="ava_response"></span></h3>
        </div>


        <div class="uk-card uk-card-default uk-card-body ava-board" id="ava_board">
            <div class="uk-position-center" id="spinner" uk-spinner></div>


            {#    login   form     #}
{#            {% include 'login-form.html' %}#}

            {#    flex - options   #}
{#            {% include 'flex-options.html' %}#}

            {#     registration form       #}
{#            <div class="uk-position-center login-form" >#}
{##}
{#                <h3 class="uk-card-title"></h3>#}
{#                <form>#}
{#                    <div class="uk-margin">#}
{#                        <div class="uk-inline">#}
{#                            <span class="uk-form-icon" uk-icon="icon: user"></span>#}
{#                            <input class="uk-input" type="text" placeholder="Email">#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="uk-margin uk-nav-center">#}
{#                        <div class="uk-inline">#}
{#                            <button class="uk-button uk-button-default">Next</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#            #}


         </div>

        {#  user dialog    #}
{##}
{#        <div class="uk-margin-small-top uk-card uk-text-center uk-card-header uk-card-body uk-width-1-2\@m">#}
{#            <h3 class="uk-card-title user-dialog">indian breakfast</h3>#}
{#        </div>#}

    </div>

    <div class="uk-offcanvas-content">
        <div id="offcanvas-primary-nav" uk-offcanvas="overlay: true">
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">User</li>
                    <li><a href="#" id="menu_login"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Login</a></li>
                    <li><a href="#" id="menu_register"><span class="uk-margin-small-right" uk-icon="icon: table"></span>Register</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="uk-offcanvas-content">
        <div id="offcanvas-pantry" uk-offcanvas="mode: reveal; overlay: true; flip: true">
            <div class="uk-offcanvas-bar">

                <button class="uk-offcanvas-close" type="button" uk-close></button>

                <h3>Pantry</h3>
<form>
                <ul uk-accordion>
                    <li>
                        <h3 class="uk-accordion-title">Veggies</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">


                                <div class="uk-grid">

                                <div class="uk-width-1-2" >
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success" name="vegetable" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default " data-color="success"name="vegetable" value="tomato" id="tomato"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Tomato </button>
                                <input type="checkbox" class="hidden">
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"name="vegetable" value="potato" id="potato"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Potato </button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"name="vegetable" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"name="vegetable" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"name="vegetable" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"name="vegetable" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" class="hidden">
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"name="vegetable" value="onion" id="onion"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp; Onion </button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>






                            </div>
                        </div>
                    </li>

                    <li class="open">
                        <h3 class="uk-accordion-title">Veggies</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">


                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default " data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden">
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden">
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>






                            </div>
                        </div>
                    </li>

                    <li class="open">
                        <h3 class="uk-accordion-title">Veggies</h3>
                        <div class="uk-accordion-content">
                            <div class="col-md-12" id="">


                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default " data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden">
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>

                                <div class="uk-grid">

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden">
                                </span>
                                </div>

                                <div class="uk-width-1-2">
                                <span class="button-checkbox" >
                                <button type="button" class="btn btn-default" data-color="success"><i class="state-icon glyphicon glyphicon-unchecked"></i>&nbsp;Primary</button>
                                <input type="checkbox" class="hidden" >
                                </span>
                                </div>

                                </div>






                            </div>
                        </div>
                    </li>

                </ul>



                <div class="uk-grid">

 <!--               <div class="uk-width-1-2">
                <button type="button" class="btn btn-info" data-color="info">SUBMIT</button>
                </div>

                <div class="uk-width-1-2">
                <button type="button" class="btn btn-info" data-color="info">ADD</button>
                </div>
                -->

                <div class="uk-width-1-2">
                <div class="uk-inline">
                <button class="uk-button uk-button-default" name="savePantry" id = 'btntest'>Submit</button>
                </div>
            </div>
                   <div class="uk-width-1-2">
                <div class="uk-inline">
                <button class="uk-button uk-button-default" id="temp">Add</button>
                </div>
            </div>
                </div>
    </form>
            </div>
        </div>
    </div>
    </body>
</html>