<div class="horizontal uk-nav-center login-form" >
    <h3 class="uk-card-title"></h3>
    <form>
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" placeholder="Email" autofocus>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="text" placeholder="Password">
            </div>
        </div>

        <div class="uk-margin uk-nav-center">
            <div class="uk-inline">
                <button class="uk-button uk-button-default">Login</button>
            </div>
        </div>

    </form>
</div>