<!DOCTYPE html>

<style>
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>White Pasta</title>
</head>
<body>
  <a class="uk-button uk-button-default" href="#modal-full" uk-toggle>Open</a>

<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-image: url('{{ recipe_image }}');" uk-height-viewport></div>
            <div class="uk-padding-large">
                 <h4><p>{{ recipe_title }}</p></h4>
  <h4>Description</h4>
    <p>{{ recipe_description }}</p>
  <h4>Time</h4>
    <p>{{ recipe_time }}</p>
  <h4>Serves</h4>
    <p>{{ recipe_serves }}</p>
    <h4>Ingredients</h4>
        <ol>
            {{ recipe_ingredients_display }}
        </ol>
    <h4>Directions</h4>
        <ol>
            {% for d in direction %}
                <li>{{ d }}</li>
                <br/>
            {% endfor %}

        </ol>
                 </div>
        </div>
    </div>
</div>

</body>