<!DOCTYPE html>
<html>
<style>
ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>White Pasta</title>
</head>
<body>
  <h4>Title</h4>
    <p>White Pasta</p>
  <h4>Image</h4>
    <img src ="white-sauce-pasta-recipec.jpg">
  <h4>Description</h4>
    <p>Pasta is typically a noodle made from an unleavened dough of a durum wheat flour mixed with water or eggs and formed into sheets or various shapes, then cooked by boiling or baking.</p>
  <h4>Time</h4>
    <p>25minutes</p>
  <h4>Serves</h4>
    <p>3</p>
    <h4>Ingredients</h4>
        <ol>
            <li> ¾ cup pasta</li>
            <li> 1 small carrot, peeled and chopped fine</li>
            <li> ⅓ cup sweet corn kernels, boiled</li>
            <li> ½ green bell pepper, chopped fine</li>
            <li> ½ red bell pepper,chopped fine</li>
            <li> ½ tablespoon butter</li>
            <li> For white sauce</li>
            <li> 1½ tablespoons butter</li>
            <li> 1 tablespoon maida/ all purpose flour</li>
            <li> 1¼ cup milk, boiled and cooled</li>
            <li> ½ teaspoon pepper powder</li>
            <li> ¼ teaspoon dried oregano or basil or thyme</li>
            <li> ½ teaspoon chilli flakes</li>
            <li>Salt</li>
        </ol>
    <h4>Directions</h4>
        <ol>
            <li>Boil the pasta and set aside.</li>
            <li>Heat ½ tablespoon butter in a pan and saute the chopped vegetables. Remove to a plate.</li>
            <li>Add 1½ tablespoons butter in the same pan and add maida/flour. Whisk very well.</li>
            <li>Add boiled milk and mix well. Whisk very well in low flame to avoid lumps.</li>
            <li>Once the sauce starts to thicken, add salt, pepper powder, chilli flakes and dried herbs. Mix well.</li>
            <li>Cook further in low flame till the sauce thickens and turns smooth.</li>
            <li>Add sauteed veggies and mix well.</li>
            <li>Add boiled pasta and mix well.</li>
            <li>Serve white sauce pasta hot.</li>
        </ol>

</body>
</html>