<div class="horizontal uk-nav-center login-form" >
    <h3 class="uk-card-title"></h3>
    <form action="/signup/" id="signup-form">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="email" placeholder="Email" autofocus>
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Password">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Confirm Password">
            </div>
        </div>

        <div class="uk-margin uk-nav-center">
            <div class="uk-inline">
                <input type="submit" class="uk-button uk-button-default">
            </div>
        </div>

    </form>
</div>